<table id="mytable" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Century</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>